<!DOCTYPE html>
<html>
<body>
<h2>Add Item</h2>


<form action = "/registerItemHandler" method="POST">
    <label for ="name">Item Name:</label><br>
    <input type ="text" id = "name" name ="name"><br>
    <label for = "description">Description :</label><br>
    <input type = "text" id = "description" name = "description"><br><br>
    <label for = "quantity">Quantity:</label><br>
    <input type = "number" id = "quantity" name = "quantity"><br><br>
    <input type = "submit" value = "Submit">
    </form>

    <br><br>
</body>
</html>